#content,
#blog
{
  padding-top: 6.5em;
}

#content
{
  text-align: center;
}

#content.ua-ios,
#content.ua-android
{
  padding-top: 2em;
}

#abb-banner
{
  padding: 20px;
}

#abb-banner h2
{
  font-size: 24px;
}

#abb-banner a
{
  font-size: 20px;
}

#edge-teaser
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 0;
  max-width: 515px;
}

#video-disclaimer
{
  margin: 10px;
}

.no-js #video-disclaimer,
.show-disclaimer #video-disclaimer
{
  position: relative;
}

#video-play
{
  margin-top: -40px;
}

#edge-teaser
{
  width: auto;
}

#summary h1
{
  font-size: 54px;
}

#summary h2
{
  font-size: 20px;
}

#summary ul
{
  display: inline-block;
  text-align: left;
}

#install
{
  display: block;
  width: auto;
  padding: 10px;
}

#install .install-button
{
  width: 100%;
  font-size: 16px;
}

h3.edge-message
{
  margin: 10px;
}

#other-platform ul
{
  display: block;
  margin-top: 10px;
}

#other-platform li
{
  margin: 0px 10px;
}


.warning-platform,
.disclaimer, .notice
{
  margin: 10px;
}

#key-facts section
{
  width: auto;
  max-width: 225px;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 80px;
  padding-right: 0px;
  text-align: left;
}

html[dir="rtl"] #key-facts section
{
  padding-right: 80px;
  padding-left: 0px;
  text-align: right;
}

#key-facts section.border-right
{
  padding-bottom: 25px;
  border-bottom: 1px dotted black;
}

#footnote
{
  padding: 0px 20px;
}
