<div class="container">
  <section class="section">
    <div class="info-box bg-dark">
      <div class="card-header">
        <strong>{{ important-information-heading[heading] Important Information }}</strong>
        <img
          src="/img/full-close-icon.svg"
          alt="{{ close-icon-alt[alt text] Close notification }}" class="button close-button">
      </div>
      <div class="card-body">
        <p>
          {{ important-information-paragraph-1 This page is for the Chrome desktop extension. Get Adblock Plus products on other supported platforms and devices. }}
        </p>
        <p>
          <a
            class="button icon-button"
            href="download">
            <img
              src="/img/double-arrow-right.svg"
              alt="{{ important-information-button-arrow-icon-alt[alt text] Arrow icon }}"
              class="button-image">
            <span class="button-text">{{ important-information-button-label[button label] More solutions }}</span>
          </a>
        </p>
      </div>
    </div>
  </section>
</div>
